section.description
    .description__container
    
        .description__item.border.shadow
            img.description__img(src="./img/oldFarm.png", alt="oldFarm")
            p.description__text|Lorem ipsum dolor sit amet, uer uer Duis autem vel eum 
                                iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer 
                                Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel 
                                eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer

            a.link__more.description__link(href="#")|more...

        .description__item.border.shadow
            img.description__img(src="./img/theoldfarmv4.png", alt="theoldfarmv4")
            p.description__text|Lorem ipsum dolor sit amet, uer uer Duis autem vel eum 
                                iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer 
                                Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel 
                                eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer

            a.link__more.description__link(href="#")|more...

        .description__item.border.shadow
            img.description__img(src="./img/wallpapers1.png", alt="wallpapers1")
            p.description__text|Lorem ipsum dolor sit amet, uer uer Duis autem vel eum 
                                iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer 
                                Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel 
                                eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer

            a.link__more.description__link(href="#")|more...

        .description__item.border.shadow
            img.description__img(src="./img/wallpapers2.png", alt="wallpapers2")
            p.description__text|Lorem ipsum dolor sit amet, uer uer Duis autem vel eum 
                                iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer 
                                Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel 
                                eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer

            a.link__more.description__link(href="#")|more...