section.greeting.shadow.margin
    .greeting__container
        .greeting__img-container
            img.greeting__img(src="./img/wallpapers1.png", alt="wallpapers1")
            img.greeting__img(src="./img/theoldfarmv4.png", alt="theoldfarmv4")
            img.greeting__img(src="./img/wallpapers2.png", alt="wallpapers2")
            img.greeting__img(src="./img/oldFarm.png", alt="oldFarm")
        
        .greeting__text-container
            h1|Welcome to the site

            p.greeting__text-description|Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor.
                |ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer
                |Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
                |Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor.
                |ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer
                |Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer
                span.greeting__text-description-span|Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. 
                                                        |ipsum dolor sit amet, sectetuer.
            
            a.link__more.greeting__text-link(href="#")|more...