@font-face {
    font-family: 'Rockwell Nova';
    font-style: normal;
    font-weight: normal;
    src: local('Rockwell Nova'), url('../fonts/RockwellNova.woff') format('woff');
}

@font-face {
    font-family: 'Rockwell Nova Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rockwell Nova Italic'), url('../fonts/RockwellNova-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: normal;
    src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');
}