footer.footer.margin.shadow
    p.text-footer.footer__text|Terms of Service
    a.text-footer.footer__privacy(href="#")|Privacy Policy &nbsp;&nbsp;&nbsp; © 2009
    a.text-footer.footer__designzzz(href="https://www.designzzz.com" target="blank")|Designzzz (www.designzzz.com)