header.header
    a(href="index.html" class="header__logo")|Logo
    nav.header__nav.shadow
        button.header__nav-mobile|&#9776;
        ul.header__nav-ul
            li.header__nav-li
                a(href="#" class="header__nav-link")|Home
            li.header__nav-li
                a(href="#" class="header__nav-link")|Portfolio
            li.header__nav-li
                a(href="#" class="header__nav-link")|Blog
            li.header__nav-li
                a(href="#" class="header__nav-link")|Contact
        form.header__nav-search-form
            input(type="text" name="search" id="search" class="header__nav-search" placeholder="search")
            button.header__nav-search-btn